/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Main Styles
*/
body{
    background-color: hsl(233, 47%, 7%);
    margin: 0 auto;
    max-width: 375px;
    margin: 20% 30%;
}

.innerCard{
    background-color: hsl(244, 38%, 16%);
    text-align: center;
    padding-bottom: 10%;
    border-radius: 10px;
}

img{
    max-width: 375px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0.5;
}

.main-img{
    background-color: hsl(277, 64%, 61%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main-content{
    padding: 10%;
}

.main-content h2{
    font-size: 2vh;
    margin-bottom: 5%;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: white;
}

.main-content span {
    color: hsl(277, 64%, 61%);
}

.main-content p{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 25px;
    font-size: 15px;
}

.stats h2{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 2vh;
    font-weight: 700;
    margin: 1% 2%;
}

.stats p{
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    margin: 3% 0;
    font-size: 13px;
}

.stats div{
    margin-top: 10%;
}
